.main-chat
  .chat-main_group-info
    .chat-main_group-name-member
      .chat-main_group-name
        = @group.name
      .chat-main_group-member
        Member:
        - @group.users.each do |u|
          = u.name
    .heder-raiget_botan 
      = link_to edit_group_path(@group), class: "edit_button" do
        Edit

  .chat-main_message-list
    = render @messages
    
  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contentes
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'chat-main_message-form-botan'
            