.side-bar
  .side-bar_user-name
    .top-items
      .top-items_name 名前
        =  current_user.name
        
      .top-items_icons
        = link_to "#" do
          = icon('far', 'edit', class: 'icon-pencil')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'icon-gear')

  .side-bar_group-list
    .side-bar_group 
      .side-bar_grou-name1 test
      .side-bar_grou-messages メッセージ